* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e4e5;
}

/* .menu-bar {
  background-image: url(./images.jfif);
} */

.hero-image__figure {
  background: linear-gradient(
    135deg,
    rgba(252, 251, 255, 1) 30%,
    rgba(0, 0, 0, 1) 20%
  );

  /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); */
}
